@import 'variables';
@import 'pricelist-table';

// -- common styles
* {
    box-sizing: border-box;
}

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.bg-fill {
    background-color: rgba(183, 187, 211, 0.3);
}

.button {
    font-family: $Roboto-Condensed;
    text-transform: uppercase;
    padding: 10px 20px 11px;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),
                background-color .2s linear;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 4px;

    &-blue {
        background: $color-blue;
        color: $color-white;
    }
    
    &:hover {
        background-color: $color-gray;
    }
}

section.wavebordered {
    position: relative;
}

section.wavebordered:before,
section.wavebordered:after {
    content: "";
        display: block;
        width: 100%;
        height: 14px;
        position: absolute;
        left: 0;
        background: url("../img/wave.svg") top left repeat-x;
}

.phoneform {
    padding: 10px 20px;
    margin: 50px auto;
    max-width: 750px;
    background: linear-gradient(to bottom,#e2e2e2,#f9f9f9 100%);
    
    position: relative;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;

    &:before,
    &:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
        -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    &:after {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
       }

    &-heading {
        text-align: center;
        font-family: $Roboto-Condensed;
        font-weight: 400;
        font-size: 1.25em;
        padding: 20px 0;
    }

    &-main {
        display: flex;
        justify-content: space-between;

        &__text {
            font-family: $Roboto-Condensed;
            font-weight: 400;
            font-size: 1.75em;
            line-height: 1.5;
        }

        &__input {
            padding-left: 10px;
        }
    }
}

// common styles --//

// --Section header
.header {
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1) ), 
                url('../img/header-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 600px;
    position: relative;

    &-maininfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        &__text {
            flex-grow: 1;
            padding-left: 40px;
            
            &-intro {                
                font-family: $Roboto-Condensed; 
                margin-bottom: 10px;
            }

            &-phone {
                display: flex;
                align-items: flex-end;

                & .href-tel {
                    text-decoration: none;
                    font-family: $Roboto-Condensed;
                    font-size: 1.1em;
                    font-weight: bold;
                    color: $color-orange;
                    transition: color .1s linear;

                    &:hover {
                        color: red;
                    }

                    &+.href-tel {
                        margin-left: 20px;
                    }

                    & .icon {
                        height: 20px;
                        width: 20px;
                        display: inline-block;
                        background-size: cover;
                        border-radius: 1px;
                    }

                    & .velcom {
                        background-image: url('../img/velcom.png');
                    }

                    & .mts {
                        background-image: url('../img/mts.png');
                    }
                }
            }
        }
    }

    &-description {
        width: 40%;
        min-height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-gray-transparent;
        text-align: center;
        padding: 25px;     

        &__primary { 
            font-family: $Roboto-Condensed; 
            font-size: 2.5em;          
            margin-bottom: 20px;

            & span {
                color: $color-blue-dark;
            }
        }

        &__secondary {
            font-family: $Roboto-Condensed;
            font-size: 1.5em;
            line-height: 1.5;
        }

    }
}
// Section header --//

// --Section examples
.examples {
    padding: 20px 0;

    &-text {
        font-family: $PT-Sans;
        text-indent: 1.5em;
    }

    &-heading {
        text-align: center;
        font-family: $PT-Sans;
        font-size: 2.5em;
        color: $color-gray;
        padding: 40px 0;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 20px;
        text-align: center;
        width: 160px;   
        
        &-image {
            width: 150px;
            height: 100px;
            margin-bottom: 10px;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            font-family: $Roboto;
            max-width: 200px;
        }
    }

    &:before {
        top: -7px;
        background-position: top;
        z-index: 20;
    }
    &:after {        
        bottom: -7px;
        background-position: bottom;
        z-index: 21;
    }
}
// Section examples --//


// --Section advantages
.advantages {
    
    &-title {
        text-align: center;
        font-family: $PT-Sans;
        font-size: 3em;
        font-weight: 700;
        color: $color-gray;
        padding: 40px 0;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            width: 47.5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            &-icon {
                font-size: 3em;
                color: $color-gray;
                margin-right: 20px;
            }

            &-text {
                font-family: $Roboto;

                & .heading {
                    font-size: 1.5em;
                    margin-bottom: 5px;
                }

                & .description {
                    line-height: 1.5;
                }
            }
        }
    }

    &:before {
        top: -7px;
        background-position: top;
        z-index: 20;
    }
    &:after {        
        bottom: -7px;
        background-position: bottom;
        z-index: 21;
    }
}
// Section advantages --//

// --Section diagnostic
.diagnostic {
    padding-bottom: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.9));

    &-heading {
        text-align: center;
        font-family: $PT-Sans;
        font-size: 3em;
        font-weight: 700;
        padding: 40px 0;
    }

    &-video {
        text-align: center;

        & iframe {
            width: 700px;
            height: 500px;
        }
    }

    &-listheading {
        text-align: center;
        font-family: $PT-Sans;
        font-size: 1.5em;
        font-weight: 700;
        padding: 25px 0;
    }

    &-problems {
        &__item {

            &-title {
                font-family: $Roboto;
                font-size: 1em;
                margin: 15px 10px 10px 10px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                & .descr-hidden {
                    display: none;
                }
            }

            &:after {
                content: "";
                display: block;
                border: 1px solid $color-gray;
            }

            &-description {
                display: none;
                transition: display 2s linear;
            }

        }
    }
}
// Section diagnostic --//


// --Section prices
.prices {
    padding: 20px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.9)), 
                url('../img/prices-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 600px;

    &-title {
        text-align: center;
        font-family: $PT-Sans;
        font-size: 3em;
        font-weight: 700;
        padding: 40px 0;
        color: $color-blue-dark;
    }

    & .pricelist-tabs-titles ul {
        padding: 0;
        margin-bottom: 30px;
        text-align: center;

        & li {
            display: inline-block;
            padding: 5px 10px;
            background: #ccc;
            border-radius: 3px;
            margin: 5px;
            padding: 10px 15px;;
            cursor: pointer;
            transition: color .25s, background-color .25s;
            font-family: $PT-Sans;
            font-size: 1.5em;

            &:hover {
                background: $color-blue;
                color: #fff;
            }

            &.active {
                background: $color-blue-dark;
                color: #fff;
            }
        }
    }

    & .pricelist-tabs-content {
        position: relative;

        & .pricelist-tab {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: none;

            & table {
                margin: 40px auto;
            }

            & .text-center strong{
                font-family: $PT-Sans;
                font-size: 1.5em;
            }
        }
    }
}
// Section prices --//

// --Section contacts
.contacts {
    padding-bottom: 70px;  

    &-title {
        &__smaller {
            text-align: center;
            font-family: $PT-Sans;
            font-size: 2em;
            font-weight: 700;
            padding: 35px 0;
            color: #000;

            & span {
                color: $color-blue-dark;
            }
        }
        &__larger {
            text-align: center;
            font-family: $PT-Sans;
            font-size: 3.5em;
            font-weight: 700;
            padding: 0 0 50px;
            color: #000;

            & span {
                color: $color-blue-dark;
            }
        }
    }

    &-map {
        min-height: 500px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        position: relative;

        & .contacts-maininfo {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: 999;
            background-color: rgba(255,255,255,.9);
            border-radius: 5px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
            padding: 20px;
            display: flex;
            flex-direction: column;

            &__logo {
                width: 224px;
                height: 87px;
                margin-bottom: 10px;
            }

            &__address {
                margin-bottom: 10px;
                font-family: $Roboto-Condensed;
                font-size: 1.25em;
            }

            &__phones {
                display: flex;
                flex-direction: column;

                & .href-tel {
                    text-decoration: none;
                    font-family: $Roboto-Condensed;
                    font-size: 1.1em;
                    font-weight: bold;
                    color: $color-orange;
                    transition: color .1s linear;

                    &:hover {
                        color: red;
                    }

                    &+.href-tel {
                        margin-top: 10px;
                    }

                    & .icon {
                        height: 20px;
                        width: 20px;
                        display: inline-block;
                        background-size: cover;
                        border-radius: 1px;
                    }

                    & .velcom {
                        background-image: url('../img/velcom.png');
                    }

                    & .mts {
                        background-image: url('../img/mts.png');
                    }
                }
            }
            
        }
    }

    &:before {
        top: -7px;
        background-position: top;
        z-index: 20;
    }
    &:after {        
        bottom: -7px;
        background-position: bottom;
        z-index: 21;
    }
}
// Section contacts --//

footer {
    min-height: 100px;
    background: linear-gradient(to bottom,$color-gray-transparent,$color-gray 100%);

    & .container {
        text-align: center;
        padding: 45px;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1376px) {
    .header-maininfo {
        &__text {
            display: block;

            &-intro {
                display: none;
            }

            &-phone {
                display: flex;
                flex-direction: column;
                align-items: center;

                & .href-tel + .href-tel {
                    margin-top: 5px;
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .phoneform-main__text {
        font-size: 1.5em;
        line-height: 2;
    }
    .contacts-title__smaller {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1070px) {
    p.header-description__primary {
        font-size: 2em;
    }
}

@media screen and (max-width: 890px) {
    .container {
        width: 95%;
    }
    .header { position: static;}
    .header-maininfo {
        flex-direction: column;
        align-items: center;

        &>* {
            margin-bottom: 20px;
        }
    }

    .header-description {
        position: static;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .phoneform-main {
        flex-direction: column;
        align-items: center;

        &>* {
            margin-bottom: 15px;
        }
    }

    .diagnostic-video iframe {
        width: 300px;
        height: 200px;
    }

    .advantages-list {
        flex-direction: column;
        align-items: center;

        &>* {
            margin-bottom: 35px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 525px) {
    .examples-list {
        justify-content: space-around;
    }
    .advantages-list__item-icon {
        font-size: 1.5em;
    }
    .advantages-list__item-text .heading {
        font-size: 1em;
        font-weight: 700;
    }
}

