// colors
$color-blue: rgba(0, 160, 227, 1);
$color-blue-dark: rgba(0,133,189, 1);
$color-gray: rgba(183, 187, 211, 1);
$color-gray-transparent: rgba(183, 187, 211, 0.5);
$color-orange: rgba(240, 125, 19, 1);
$color-white: rgba(255, 255, 255, 1);
// fonts
$Roboto-Condensed: 'Roboto Condensed', sans-serif;
$Roboto: 'Roboto', sans-serif;
$PT-Sans: 'PT Sans', sans-serif;